.wrap {
    position: relative;

    .wide {
        @extend .wide;
        
        .title {
            padding: 70px 0 50px;
            font-weight: 700;
            font-size: 25px;
        }

        .cart-layout {
            padding-bottom: 200rem;
            display: flex;
            flex-direction: column;

            .cart-list {
                margin-bottom: 20px;
                width: 100%;
                padding: 0;
                box-sizing: border-box;

                .p-item {
                    display: flex;
                    border-bottom: 1px solid #eee;
                    font-size: 14px;
                    padding: 20px 0;

                    .p-infor {
                        width: 45%;
                        display: flex;

                        .product-title {
                            height: 100%;
                            display: flex;
                            align-items: center;
                        }

                        .thumb {
                            display: flex;
                            width: 15%;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
    
                            a {
    
                                img {
                                    width: 100%;
                                    max-width: 100%;
                                    height: auto;
                                    border-radius: 2px;
                                }
                            }
                        }
    
                        .infor {
                            display: flex;
                            font-size: 14px;
                            flex-direction: column;
                            justify-content: center;
                            gap: 10px;
                            margin-left: 15px;
    
                            .product-name {
                                color: #2a6f97;
                            }
    
                            .product-type {
                                display: flex;
                                align-items: center;
                                font-size: 14px;
                                
                                button {
                                    background: none;
                                    border: none;
                                    display: flex;
                                    flex-direction: column;
                                    cursor: pointer;
        
                                    .title {
                                        font-weight: 400;
                                        font-size: 14px;
                                        padding: 0;
                                        display: flex;
                                        align-items: center;
                                        
                                        .icon-dd {
                                            background: none;
                                            border-bottom: 0;
                                            border-left: 4px solid transparent;
                                            border-right: 4px solid transparent;
                                            border-top: 5px solid rgba(0, 0, 0, .54);
                                            margin: 0 0 0 10px;
                                            padding: 0;
                                            transform: rotate(0);
                                            transition: transform .1s cubic-bezier(.4,0,.6,1);
                                        }
        
                                    }
        
                                    
                                }
                            }
                        }
                    }

                    .quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15%;
                        padding: 10px;
                        box-sizing: border-box;
                    }

                    .price {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 15%;
                        padding: 10px;
                        box-sizing: border-box;

                        .product-price {
                            font-size: 14px;

                            .unit {
                                text-decoration: underline;
                            }
                        }

                        .price-title {
                            width: 100%;
                        }
                    }

                    .total {
                        width: 15%;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        justify-content: center;
                    }

                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: center ;
                        width: 15%;
                        padding: 10px;
                        box-sizing: border-box; 

                        button {
                            padding: 5px;
                            cursor: pointer;
                            border: none;
                            background-color: white;
                        }
                    }

                    &.head {
                        padding: 0;
                        // background-color: #eee;
                        border-radius: 2px;
                        padding: 10px 20px;
                        border-bottom: solid 1px #e5e5e5;
                        background: #f6f6f6;
                    }

                    &.not-found {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-bottom: none;
                        padding: 60px;

                        .notfound-img {
                            padding: 15px;
                            background-color: #eee;
                            border-radius: 50px;
                            width: 90px;
                            height: 90px;
                            margin-bottom: 20px;

                            img {
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                }
            }

            .cart-payment {
                bottom: 0;
                display: flex;
                justify-content: space-between;
                gap: 20px;

                .left-content {
                    width: 65%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 2px;

                    .discount-wr {
                        width: 100%;
                        display: flex;

                        input {
                            width: 40%;
                            padding: 6px 10px;
                            border: solid 1px rgb(196, 196, 207);
                            border-radius: 2px;
                            outline: none;
                        }

                        button {
                            flex-grow: 20%;
                            padding: 6px 20px;
                            margin-left: 10px;
                        }
                    }

                    .description {
                        width: 100%;
                        margin-top: 15px;
                        flex-grow: 1;
                        padding: 10px;
                        border: solid 1px rgb(196, 196, 207);
                        border-radius: 2px;
                    }
                }
    
                .right-content {
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    border: solid 1px #eee;
                    padding: 15px;
                    border-radius: 2px;

                    .price {
                        width: 100%;
                        font-size: 14px;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: solid 1px #eee;
                        padding-bottom: 10px;

                        .price-title {
                            color: rgb(128, 128, 137);
                        }
                    }
    
                    .total {
                        width: 100%;
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: solid 1px #eee;
                        padding-bottom: 10px;
                        font-size: 14px;

                        .total-value {
                            font-size: 16px;
                        }
                    }
    
                    .total-des {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        .des-content {
                            font-size: 14px;
                            color: #929292;
                        }
                    }
    
                    .checkout {
                        width: 100%;
                        display: flex;
                        
                        button {
                            width: 100%;
                            border: none;
                            background: black;
                            font-weight: 500;
                            color: white;
                            cursor: pointer;
                            border-radius: 4px;
                            height: 45px;
                        }
                    }
                }
            }
        }
    }
}