.member-account {
  display: flex;
  width: 100%;
  height: 100vh;

  .account-wr {

    .account-contents {
      max-width: 1920px;
      margin: 0 auto;
      padding: 60px 80px 0;

      @media (max-width: 1440px) {
        padding-left: 40px;
        padding-right: 40px;
      }

      @media (max-width: 1024px) {
        padding-left: 16px;
        padding-right: 16px;
      }

      .account-main {
        display: flex;
        position: relative;
  
        .account-menu {
          width: 200px;
          height: 90vh;
          position: absolute;
          top: 0;
          left: 0;
      
          .account-persional {
            display: flex;
            align-items: center;
            gap: 10px;
          }
      
          .menu-list {
            display: flex;
            flex-direction: column;

            .menu-box {
              margin-bottom: 50px;
              
              .menu-title {
            
              }

              .menu-content {


                & > li {
                  margin-top: 10px;

                  .menu-item {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #6d6d6d;
                    cursor: pointer;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
    
        .account-detail {
            display: flex;
            flex-direction: column;
            padding: 0 0 0 210px;
            width: 100%;
    
            .detail-title {
                border-bottom: solid 1px #eee;
                margin-bottom: 20px;
            }
        }

        @media (max-width: 1024px) {
          .account-menu {
            display: none;
          }

          .account-detail {
            padding: 0;
          }
        }
      }
    }
  }
}