.profile-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;

    .profile-persional {
        width: 100%;
        display: flex; 
        flex-direction: column;

        .profile-title {
          margin-bottom: 15px;
        }

        .persional-content {
          border-top: solid 1px #868686;
          padding-top: 20px;

          .infor-field {
            display: grid;
            grid-template-columns: 175px auto;
            grid-template-rows: repeat(2, auto);
            align-items: center;
            padding: 20px 0;
            // border-bottom: 1px solid #e5e5e5;
  
            .infor-title {
              font-size: 14px;
              // background: #f6f6f6;
            }

            .input-data {
              width: 350px;
              font-size: 14px;

              input[type='text'] {
                width: 350px;
                padding: 2px 4px 2px 15px;
                line-height: 40px;
                border: solid 1px var(--color-border-input);
                outline: none;
                background: #f9f9f9;
              }

              .btn-submit {
                width: 100%;
                display: flex;
                justify-content: center;
                
                button {
                  width: 135px;
                  border: none;
                  background: none; 
                  background: black;
                  font-weight: 500;
                  color: white;
                  cursor: pointer;
                  border-radius: 4px;
                }
              }
            }
  
            .error-message {
              width: 350px;
              color: #ff424f;
              width: 100%;
              font-size: 13px;
              grid-column: 2 / 3;
              line-height: 22px;
              margin-top: 5px;
            }

            .infor-action {
              display: flex;
              justify-content: end;
              width: 350px;
              padding-top: 10px;

              button {
                border: solid 1px black;
                background: none;
                border-radius: 4px;
                cursor: pointer;
                padding: 6px 18px;
              }
            }

            .profile-verify {
              width: 350px;
              display: flex;
              justify-content: end;

              a {
                font-size: 13px;
                padding: 10px 20px;
                border: solid 1px black;
              }
            }

            @media (max-width: 1024px) {
              grid-template-columns: 1fr;
              grid-template-rows: auto;

              .infor-title {
                margin-bottom: 10px;
              }

              .input-data {
                width: 100%;
                grid-column: 1 / 2;

                input[type='text'] {
                  width: 100%;
                }
              }
              
              .error-message {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                width: 100%;
              }

              .profile-verify {
                width: 100%;
              }
            }
          }
        }
    }
}