.profile-content {
  display: flex;

    .profile-persional {
        width: 500px;

        .infor-field {
          display: grid;
          grid-template-columns: 150px auto;
          grid-template-rows: repeat(2, auto);
          align-items: center;
          margin-bottom: 40px;

          .infor-title {
            width: 150px;
            font-size: 14px;
          }

          & > input[type='text'] {
            padding: 12px 16px;
            width: 100%;
            border: solid 1px var(--color-border-input);
            outline: none;
            background: none;
          }

          .error-message {
            color: #ff424f;
            padding: 4px 0 0 ;
            width: 100%;
            font-size: 14px;
            grid-column: 2 / 3;
          }
        }

        .btn-submit {
          width: 100%;
          display: flex;
          justify-content: center;
          
          button {
            height: 40px;
            width: 135px;
            border: none;
            background: none;
            background: black;
            color: white;
            font-size: 13px;
            cursor: pointer;
          }
        }
    }

    .vertical {
      display: flex;
      width: 1px;
      margin: 0px 20px;
      height: 100%;
      background-color: #eee;
    }

    .profile-contact {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .contact-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .contact-content {
          display: flex;
          min-width: 200px;

          .contact-icon {
            display: flex;
            // align-items: center;
          }

          .contact-text {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            margin-left: 5px;
          }
        }

        .contact-action {

          button {
            padding: 2px 14px;
          }
        }
      }
    }
}